In [28]:
import pandas as pd
import numpy as np
import math
import json
import pprint
import requests
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float
from datetime import datetime, date

In [18]:
USER_01_MAPPING = 'resources/raw_data_next_gen/admin_users.csv'
PROJECT_01_MAPPING = 'resources/raw_data_next_gen/admin_projects.csv'
ISSUE_01_MAPPING = 'resources/raw_data_next_gen/issues_issues.csv'
COMPANIES_01_MAPPING = 'resources/raw_data_next_gen/admin_companies.csv'
PROJECT_COMPANIES_01_MAPPING = 'resources/raw_data_next_gen/admin_project_companies.csv'
BUSINESS_01_MAPPING = 'resources/raw_data_next_gen/admin_business_units.csv'
ISSUETYPES_01_MAPPING = 'resources/raw_data_next_gen/issues_issue_types.csv'
ISSUESUBTYPES_01_MAPPING = 'resources/raw_data_next_gen/issues_issue_subtypes.csv'
CLASSIGN_01_MAPPING = 'resources/raw_data_next_gen/checklists_checklist_assignees.csv'

##############

USER_02_MAPPING = 'resources/raw_data_old_gen/20200330085907_FieldDataHarvest_Users.csv'
PROJECT_02_MAPPING = 'resources/raw_data_old_gen/20200330085907_FieldDataHarvest_Projects.csv'
ISSUE_02_MAPPING = 'resources/raw_data_old_gen/20200330085907_FieldDataHarvest_Issues.csv'

In [19]:
U1_DF = pd.read_csv(USER_01_MAPPING, encoding='utf-8', low_memory=False)
P1_DF = pd.read_csv(PROJECT_01_MAPPING, encoding='utf-8', low_memory=False)
I1_DF = pd.read_csv(ISSUE_01_MAPPING, encoding='latin1', low_memory=False)
C1_DF = pd.read_csv(COMPANIES_01_MAPPING, encoding='latin1', low_memory=False)
PC1_DF = pd.read_csv(PROJECT_COMPANIES_01_MAPPING, encoding='latin1', low_memory=False)
B1_DF = pd.read_csv(BUSINESS_01_MAPPING, encoding='latin1', low_memory=False)
IT1_DF = pd.read_csv(ISSUETYPES_01_MAPPING, encoding='latin1', low_memory=False)
IST1_DF = pd.read_csv(ISSUESUBTYPES_01_MAPPING, encoding='latin1', low_memory=False)
CA_DF = pd.read_csv(CLASSIGN_01_MAPPING, encoding='latin1', low_memory=False)

U2_DF = pd.read_csv(USER_02_MAPPING, encoding='utf-8', low_memory=False)
P2_DF = pd.read_csv(PROJECT_02_MAPPING, encoding='utf-8', low_memory=False)
I2_DF = pd.read_csv(ISSUE_02_MAPPING, encoding='latin1', low_memory=False)

In [20]:
U1_DF['domain']= U1_DF['email'].str.split('@').str[1]
len(U1_DF['domain'].unique())
domain_A = U1_DF['domain'].unique()

In [21]:
P1_DF.count()

id                   775
bim360_account_id    775
name                 775
start_date           667
end_date             663
type                 775
value                630
currency             775
status               775
job_number           355
address_line1        300
address_line2         25
city                 338
state_or_province    340
postal_code          384
country              775
timezone             741
construction_type    348
contract_type        269
business_unit_id     408
last_sign_in         500
created_at           775
dtype: int64

In [27]:
L_start_date = []
L_end_date = []
for index, row in P1_DF.iterrows():
    #Look_PR = row['name']
    #print(row['start_date'])
    start_date = (row['start_date']) #add start date
    end_date = (row['end_date'])#add end date
    #today = datetime.today()
    #print(int (end_date.split('-')[0]))
#     start_date = (start_date.split('-')[0])
#     end_date = (end_date.split('-')[0])
#     if ( int(end_date.split('-')[0]) -  int(start_date.split('-')[0]) )>50:
#         old_end_year = int(end_date.split('-')[0])
#         end_date = str(int(end_date.split('-')[0])-100)
#         #print(end_date) 
    
#     d_start_date = datetime.strptime(start_date, '%Y-%M-%d')
#     d_end_date = datetime.strptime(end_date, '%Y-%M-%d')
#     #if d_end_date 
#     time_delta = d_end_date - d_start_date
#     #print(time_delta, d_end_date, d_start_date)
#     L_start_date.append(d_start_date.strftime('%Y-%M-%d'))
#     L_end_date.append(d_end_date.strftime('%Y-%M-%d'))

nan
2018-01-01
nan
nan
2019-05-16
nan
nan
nan
nan
2019-05-15
nan
nan
2018-11-05
nan
2020-06-01
nan
nan
2018-09-01
2018-07-06
nan
nan
nan
2018-12-03
2018-05-31
2018-05-31
2019-08-12
nan
nan
nan
2020-03-01
2019-03-27
2020-03-31
nan
nan
nan
2019-12-05
nan
nan
nan
nan
2020-05-15
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2019-05-06
nan
nan
2019-05-01
2019-05-01
2020-03-02
nan
nan
nan
2019-08-22
2019-01-03
2019-06-10
2020-03-01
nan
2020-04-24
2017-05-01
nan
2020-07-01
nan
2020-02-01
nan
nan
2018-05-31
2019-02-21
2019-04-09
2019-03-28
2019-04-15
2020-01-27
2020-03-26
nan
nan
2018-08-10
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2019-12-01
2019-12-01
nan
nan
nan
2018-09-03
2019-04-09
2019-05-01
2017-01-02
nan
2019-08-16
2019-12-16
2018-12-01
2018-08-01
nan
2018-08-01
2016-01-12
2018-08-10
2020-05-01
2019-09-01
2017-08-01
2017-05-01
2016-10-03
nan
2018-11-01
2018-04-02
2020-05-11
2017-05-08
2017-05-08
nan
2019-08-23
2019-03-20
2020-01-06
2019-03-01
2018-08-17
2017-10-16
nan
2019-10-09
2013-11-01
1915-01-01
1915-01-01
2015-05-01
2019-05-16
2017-03-15
2017-04-03
2018-12-13
2019-10-01
2018-08-01
2016-10-01
2017-10-18
2019-03-10
nan
2018-10-25
2017-07-18
nan
2018-06-29
2019-10-21
2018-10-09
2019-05-01
2018-10-01
nan
nan
nan
2019-07-01
nan
2019-02-11
nan
2019-04-01
2018-10-01
nan
2018-06-01
2020-03-01
nan
2019-11-01
2019-03-04
2017-03-01
nan
2019-01-02
2017-09-01
2016-07-31
1915-01-01
2019-12-11
2017-04-13
2018-07-10
2017-08-20
2018-04-29
2019-07-01
2019-01-21
2016-08-23
2016-08-23
2018-09-14
2019-08-27
2019-04-29
2018-09-04
2018-02-06
2018-08-01
2018-07-09
2018-06-06
2018-01-01
2017-02-19
2019-02-13
2019-02-13
2018-03-01
2018-09-24
2018-11-01
2018-03-26
2019-09-17
2018-10-16
2019-07-01
2019-06-03
2017-12-18
2019-06-28
2020-02-15
2018-11-15
2019-09-24
2018-06-25
2018-12-03
2017-04-25
2018-11-02
2018-01-01
2019-08-28
2019-10-23
2018-06-04
2019-03-04
2019-10-04
2018-11-27
2019-06-04
2019-01-01
2018-01-01
2014-05-05
2018-09-04
2019-10-21
2019-07-15
1915-01-01
2016-01-01
2017-11-13
2017-11-30
2018-06-15
2018-08-06
2019-03-13
2018-11-20
2017-12-15
2018-05-01
2018-06-18
2018-10-29
2018-09-05
2017-11-01
2018-08-09
2018-01-01
2016-03-01
2017-07-18
2017-01-02
2018-07-02
2017-02-01
2018-05-21
2019-10-01
2019-09-01
2017-03-15
2017-11-13
2019-08-29
2018-06-01
nan
2020-01-01
2017-10-04
2018-12-05
2019-05-08
2019-05-07
2018-12-13
nan
2019-03-23
2020-03-15
2017-08-11
2019-12-11
nan
2019-02-04
2019-10-01
2019-09-30
2019-09-23
2019-10-04
2019-07-01
2019-08-12
2019-06-17
2019-11-15
2019-07-10
2019-12-01
2018-06-04
2019-09-16
2019-09-30
2019-08-15
2019-06-17
2019-09-30
2019-07-07
nan
2018-11-01
2019-07-11
2019-01-01
2018-05-01
2018-10-01
2019-06-17
2018-10-01
2019-04-12
2019-10-01
2019-06-17
2012-05-01
2016-08-23
2016-08-23
1915-01-01
2011-08-28
2012-12-26
2012-05-01
2018-11-01
2011-10-20
2017-01-01
2016-08-23
2017-09-12
2019-02-05
1915-01-01
2016-08-23
2016-08-23
1915-01-01
1915-01-01
1915-01-01
1915-01-01
2016-08-23
2016-08-23
2011-10-16
2016-10-04
2016-08-23
2016-08-23
2018-06-01
2012-04-16
1915-01-01
1915-01-01
1915-01-01
2011-06-06
2016-08-23
2019-09-13
2012-05-15
1915-01-01
2017-04-24
2019-09-26
2019-05-06
2019-04-11
2019-02-01
2019-03-08
2018-08-02
2017-08-01
1915-01-01
1915-01-01
1915-01-01
nan
2019-05-01
2019-03-20
2019-02-27
2018-03-05
2018-09-18
2016-02-03
2016-12-21
2016-08-01
2016-08-23
2019-09-18
2017-05-01
2018-02-06
2017-11-27
nan
2019-02-14
2017-05-10
2016-09-12
2018-12-03
2016-08-23
2019-03-26
2018-10-01
2018-09-27
2013-09-15
2018-06-15
2019-04-01
2015-05-26
2015-04-15
2017-09-01
2012-12-15
2017-07-24
2018-05-31
2018-07-03
2017-01-30
2018-12-31
2019-08-01
nan
2020-01-19
2019-07-15
nan
2018-06-15
2019-02-21
2015-11-30
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
2016-08-23
1915-01-01
2017-05-01
2017-06-01
2016-08-23
2015-01-15
2017-05-08
2017-04-05
2014-03-01
2017-10-01
2016-08-23
2018-03-21
2016-05-12
2016-08-23
2016-08-23
2016-08-23
2017-08-21
2017-09-15
2011-12-14
2011-03-01
2011-03-01
2010-09-30
2015-08-01
2012-05-01
2011-05-31
2014-06-16
2013-07-01
2015-05-19
2017-07-24
2017-09-01
2016-08-23
2014-02-01
2014-02-07
2015-12-07
2014-07-15
2016-08-23
2018-02-19
2018-04-06
2016-08-23
2018-04-24
2014-01-01
2014-06-05
2018-08-22
2016-08-23
2016-08-23
2012-06-01
2013-06-01
2013-06-01
2016-08-23
1915-01-01
2018-08-17
2012-03-01
2015-11-01
1915-01-01
1915-01-01
2013-02-13
2013-02-15
2016-08-23
2018-04-09
2017-05-01
2014-01-01
2018-10-01
2014-01-01
2015-05-01
2016-02-01
1915-01-01
1915-01-01
2011-03-01
2014-01-01
2014-12-29
2013-09-15
2017-05-01
2015-11-30
2016-03-14
2014-10-20
2014-07-30
2015-01-01
1915-01-01
1915-01-01
2012-07-23
1915-01-01
1915-01-01
1915-01-01
1915-01-01
2016-01-12
1915-01-01
2014-11-01
2015-05-01
2013-11-18
2016-08-17
2017-01-30
2013-07-01
2012-09-01
1915-01-01
2015-06-01
2017-05-12
2017-06-15
2013-05-01
2016-07-01
2016-07-01
1915-01-01
2016-10-19
2014-05-01
2012-10-14
2016-08-23
2017-06-11
1915-01-01
2015-06-15
1915-01-01
1915-01-01
2013-09-23
2015-03-16
2016-12-01
2017-02-14
2016-07-01
2016-03-31
2016-08-23
1915-01-01
2012-05-01
2016-06-15
2017-10-16
2019-09-01
2019-01-30
2018-06-04
2017-06-09
2012-09-30
2018-02-05
2009-11-27
2017-01-23
nan
nan
nan
2019-08-29
nan
nan
2019-10-01
2019-10-01
2019-08-26
2015-10-15
2016-08-29
1915-01-01
1915-01-01
2014-06-01
1915-01-01
2016-08-23
2014-08-18
2011-07-30
2010-10-31
2011-02-26
1915-01-01
1915-01-01
1915-01-01
2011-07-16
2011-07-31
1915-01-01
2011-05-02
1915-01-01
1915-01-01
2012-03-05
2012-04-06
1915-01-01
2011-11-06
2011-02-06
1915-01-01
1915-01-01
2012-02-14
1915-01-01
2011-04-30
1915-01-01
2011-06-27
1915-01-01
2012-08-22
1915-01-01
2012-05-01
2018-01-03
1915-01-01
1915-01-01
1915-01-01
2011-10-16
2011-05-12
1915-01-01
1915-01-01
2018-03-14
1915-01-01
1915-01-01
2011-10-31
1915-01-01
1915-01-01
1915-01-01
1915-01-01
1915-01-01
2012-03-22
1915-01-01
1915-01-01
2011-06-28
1915-01-01
2016-08-23
2016-08-23
2014-01-01
2014-10-06
2016-02-01
1915-01-01
2014-10-03
2015-02-27
2013-01-15
2015-11-23
2013-11-18
1915-01-01
1915-01-01
2014-01-01
1915-01-01
1915-01-01
2015-08-24
2013-10-01
2014-02-15
2013-01-10
1915-01-01
2015-11-25
1915-01-01
2014-10-27
2014-07-07
2016-08-08
1915-01-01
1915-01-01
1915-01-01
1915-01-01
2013-11-01
2010-03-01
1915-01-01
2016-08-23
1915-01-01
1915-01-01
2014-02-03
2014-09-04
2014-11-14
2013-08-05
2013-07-29
2016-12-01
2016-10-17
2016-10-25
2017-02-23
2016-11-01
2016-12-13
2017-01-01
2017-01-09
2017-06-01
2014-04-01
2016-08-23
2018-09-24
2016-01-01
2015-10-01
1915-01-01
2019-10-09
2016-09-01
2017-05-01
2017-08-01
2018-01-16
2019-04-27
2014-11-14
2018-05-01
2013-12-13
2018-04-02
2017-04-01
2016-11-01
2013-11-01
2015-11-13
2013-05-20
2016-08-23
2016-08-23
2018-02-12
2017-07-18
2018-01-05
2012-11-01
2012-08-08
2019-09-01
1915-01-01
2014-10-15
2013-02-15
2013-05-01
2012-02-02
2018-05-17
2017-08-01
2018-06-15
2016-10-17
2017-04-01
2017-04-01
2013-05-09
2016-09-26
2017-08-21
2018-01-22
2016-08-23
2018-09-24
2019-10-04
nan
2018-07-08
2020-01-07
nan
2015-08-18
2016-04-01
2018-03-05
2016-11-05
2018-02-01
2015-12-18
2017-05-10
2017-10-18
2017-08-23
2017-09-21
2018-09-01
2017-12-05
2018-03-07
2018-05-01
2018-05-11
2016-08-01
2016-06-01
2015-03-15
2020-01-14
nan
2017-02-23
2018-10-10
2017-08-25
nan
2016-08-23
nan
2019-09-05
2015-04-01
2015-11-15
2015-05-11
2018-02-27
1915-01-01
2015-03-01
2015-10-16
2013-10-14
2016-08-23
2015-08-10
2014-10-15
1915-01-01
2017-04-05
2015-11-01
2016-03-28
2014-05-09
2012-02-20
2016-11-01
2016-02-29
2016-06-01
2016-08-23
2016-04-11
2016-08-23
2012-02-02
2015-04-06
2015-06-09
2015-12-07
2012-01-31
2016-03-04
2016-08-23
2017-08-31
2016-04-06
2016-03-10
2017-06-08
2017-07-10
2016-01-09
2016-08-23
2015-09-25
2017-05-01
2015-11-01
2019-01-01
2016-02-29
2016-04-24
2016-08-23
2016-10-15
2013-07-01
2016-08-23
2013-06-01
1915-01-01
2016-12-26

In [50]:
#domain_A[1].split('.')[0]

In [51]:
# temp_DF = U1_DF.loc[U1_DF['domain']==domain_A[16]]
# temp_DF
# LIST_D=[]
# LIST_D = temp_DF.loc[temp_DF['default_company_id'].notnull()]['default_company_id'] 
#res = max(set(LIST_D), key = LIST_D.count)

In [8]:
# x = LIST_D.value_counts().idxmax()

In [9]:

# r = 0
# #for index, row in U1_DF.iterrows():

# for i in range (1, len(domain_A)):
#     LIST_D=[]
#     r = r + 1
#     temp_DF = U1_DF.loc[U1_DF['domain']==domain_A[i]]
        
#         #LIST_D = temp_DF.loc[temp_DF['default_company_id'].notnull()]
        
#     LIST_D = temp_DF.loc[temp_DF['default_company_id'].notnull()]['default_company_id']
#     if len(LIST_D) > 0:
#         comp_id = LIST_D.value_counts().idxmax()
# #         print("LIST of DOMAINS....",LIST_D)
#         for index, row in temp_DF.iterrows():
#             rowIndex = (index)
        
#             if domain_A[i]>'':
#                 d_value = str(domain_A[i])
#                 if (d_value.split('.')[0]) not in ['gmail','outlook','yahoo','msn','swbell','comcast','icloud','charter']:
        
# #                     print (r,'.....', d_value, '----------GROUP----------------------------')
# #                     for index, row in temp_DF.iterrows():
#                     x1 = (row['domain'])
#                     x2 = (row['default_company_id'])
# #                     print(x2)
                    
#                     if type(x2) == float:
#                         U1_DF.loc[rowIndex, 'default_company_id'] = comp_id
#                         print(rowIndex, x1,'.......',x2)
        
# print ('NEW GROUP-----------------------------------------------------')

In [32]:
#######################################################
P1_DF.rename(columns = {"id" : "project_id"}, inplace=True)
PC1_DF.rename(columns = {"company_id" : "default_company_id"}, inplace=True)
I1_DF.rename(columns = {"bim360_project_id":"project_id"}, inplace=True)
C1_DF.rename(columns = {"id" : "default_company_id"}, inplace=True)

In [30]:
C1_DF.to_csv('cleaned_companies.csv')

In [31]:
U1_DF.count()

id                             9341
autodesk_id                    6769
bim360_account_id              9341
email                          9303
name                           9341
first_name                     9341
last_name                      9341
address_line1                   253
address_line2                    55
city                            314
state_or_province               436
postal_code                     271
country                        9327
last_sign_in                   3101
phone                           324
job_title                       444
access_level_account_admin     9341
access_level_project_admin     9341
access_level_project_member    9341
access_level_executive         9341
default_role_id                 919
default_company_id             3617
domain                         9303
dtype: int64

In [34]:
MERGED_PI_NEW = pd.merge(P1_DF, I1_DF, on ='project_id', how='inner')

In [35]:
# Working_OLD_DataFrame
W_NEW_PI_DF = MERGED_PI_NEW[['project_id',
                   'name',
                   'title',
                   'description',
                   'type_id',
                   'subtype_id',
                   'assignee_id',
                   'job_number',
                   'type',
                   'value',
                   'start_date',
                   'end_date',
                   'city',
                   'state_or_province',
                   'postal_code']].copy()

In [36]:
W_NEW_PI_DF.rename(columns = {"type_id" : "issue_type_id"}, inplace=True)
W_NEW_PI_DF.head()

,project_id,name,title,description,issue_type_id,subtype_id,assignee_id,job_number,type,value,start_date,end_date,city,state_or_province,postal_code
0,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_043_044_High_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,2019-05-16,2020-05-16,Springfield,MO,65804
1,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_007_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,2019-05-16,2020-05-16,Springfield,MO,65804
2,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_019_020_High_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,2019-05-16,2020-05-16,Springfield,MO,65804
3,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_021_022_High_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,2019-05-16,2020-05-16,Springfield,MO,65804
4,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_041_042_High_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,2019-05-16,2020-05-16,Springfield,MO,65804

In [37]:
W_NEW_PI_DF.count()

project_id           59084
name                 59084
title                59084
description          23200
issue_type_id        59084
subtype_id           59084
assignee_id          52446
job_number           57085
type                 59084
value                58135
start_date           58974
end_date             58974
city                 42841
state_or_province    42592
postal_code          42401
dtype: int64

In [44]:
W_NEW_PI_DF['job_number'].unique()

array(['Unknown', nan, '10104119', '10104980', '10103177', '10104560',
       '10104563', '10102666', '10104349', '10102550', '10104094',
       '017_002', '00-04724', '10103380', '10104429', '10104977',
       '10103550', '10103065', '10102710', '10104576', '601-03376',
       '10104688', '18.P063', '602-02327', '10102850', '10102590',
       '10102480', '10104895', '10103549', '601-03678', 'BF0104663',
       '10103454', '10103668', '10104960', '10103710', '10104699',
       '10104297', '60103617', '10103123', '10103252', '10103524',
       '10104732', '10104741', '10104659', '11750.00026', '60603532',
       '10103342', '10104412', '10103519', '10102774', '11750.6112',
       '10103435', '10104069', '10104894', '10101855', '10103436',
       '101029.39', '10102684', '10103738', '10103730', '10103287',
       '10103255', '60103648', '601-03714', '10103283', '10103308',
       '10102490', '10102675', '10103650', 'BF0104383', '10103243',
       '10101748', '10104833', '10104798', '10104797', '10104676',
       '10104658', '10104487', '10104480', '10104627', '10104465',
       '10104747', '10104379', '10104224', '10104186', '10102733',
       '10102646', '10103063', '10103049', '10103340', '10102647',
       '10103250', '11750.00027', '10102866', '10103191', '10102922',
       '60102962'], dtype=object)

In [58]:
for index, row in W_NEW_PI_DF.iterrows():
    rowindex = (index)
    if  type(row['job_number']) == str:
        pn = (row['job_number'])
        
        if pn[0:2] == '11' or pn[0:2]=='BF':
            indexName = row.index
            #print(indexName)
            W_NEW_PI_DF.drop(index = rowindex , inplace=True)

In [59]:
W_NEW_PI_DF['job_number'].unique()

array(['Unknown', nan, '10104119', '10104980', '10103177', '10104560',
       '10104563', '10102666', '10104349', '10102550', '10104094',
       '017_002', '00-04724', '10103380', '10104429', '10104977',
       '10103550', '10103065', '10102710', '10104576', '601-03376',
       '10104688', '18.P063', '602-02327', '10102850', '10102590',
       '10102480', '10104895', '10103549', '601-03678', '10103454',
       '10103668', '10104960', '10103710', '10104699', '10104297',
       '60103617', '10103123', '10103252', '10103524', '10104732',
       '10104741', '10104659', '60603532', '10103342', '10104412',
       '10103519', '10102774', '10103435', '10104069', '10104894',
       '10101855', '10103436', '101029.39', '10102684', '10103738',
       '10103730', '10103287', '10103255', '60103648', '601-03714',
       '10103283', '10103308', '10102490', '10102675', '10103650',
       '10103243', '10101748', '10104833', '10104798', '10104797',
       '10104676', '10104658', '10104487', '10104480', '10104627',
       '10104465', '10104747', '10104379', '10104224', '10104186',
       '10102733', '10102646', '10103063', '10103049', '10103340',
       '10102647', '10103250', '10102866', '10103191', '10102922',
       '60102962'], dtype=object)

In [64]:
W_NEW_PI_DF['name'].unique()
for index, row in W_NEW_PI_DF.iterrows():
    rowindex = (index)
    if  type(row['name']) == str:
        pn = (row['name'])
        
        if pn[0:3] == '000' or pn[0:3]=='BIM' or pn[0:3]=='IFA' or pn[0:3]=='602' or pn[0:3]=='_BI' or pn[0:3]=='202' or pn[0:3]=='VDC' or pn[0:3]=='LJC' or pn[0:3]=='_36' or pn[0:3]=='18.' or pn[0:3]=='Cla':
            indexName = row.index
            #print(indexName)
            W_NEW_PI_DF.drop(index = rowindex , inplace=True)

In [65]:
W_NEW_PI_DF['name'].unique()

array(['60103015 CRG-Portland Lot 10', '679_Michigan',
       '10104119 - Lambert Air Cargo', '10104980 - Bridgeport Amazon TI',
       'BF0104644 - Lumeris', '10103177 - Rockwool Ran5',
       '10104560 - EDGE @ BRDG', '10104563 - SKBA  Phase 1',
       '10102666_Pfizer', '10104349 - Blue Engine',
       '10102550-Dominion_Workplace_Tower_1', '10104094 - Project_Bronco',
       '10102666_Pfizer 2.0', '10102608 - Penn State East Halls Phase 1B',
       '10103380_Harbor Freight Renovations',
       'Penn State East Halls Phase 2B',
       '10104977 - CCLC Bldg 1 Oakley CA',
       '10103550 - DuPont Building B (Spec 2)',
       '101012358 - Bridgeport Building B',
       '10103065 - Anixter Warehouse OKC',
       '10104057 - NP Hanover 9 Spec 1.2m',
       '10102710-Harbor_Freight_Tools', '10104576 - Emig Road',
       '10103376 - Blue Point', '10104688 - Inland 85 Building C',
       '10102850 - Penn State East Halls Phase 1C',
       '10102590 - One Hundred Kingshighway',
       '10102480 - UIUC Design Center 2',
       '10104895 - Amazon G4.5 Pontiac MI',
       '10103549 - Dupont Building A', '601-03678_ORMC 2W Alterations',
       '10103454 - Etna Park 70 Infrastructure', '10103668 - MWH04 05',
       '10104960 - Centene Carondelet Lobby Remodel',
       '10103710 - Penn State East Halls Phase 2A',
       '10104699 - WUSM Couch Lab Building - 1st Floor Buildout',
       '10104297 - SCAD Victory', '60103617-Navvis_C4', '601-03138_MAM',
       '10103123_Interchange 55 Logistics Park',
       "10103252-Kohl's EFC5 Interior Renovations",
       '10103524 - 175 West Jackson', '10103195_Kubota',
       '10104732 - Tarpon 3.0 at Cross Roads 55',
       '10104741 - Benson Hill Tenant Build Out', '10104659 - New Castle',
       '60603532-Stericycle HQ_Interior Fitout', '10103115 - 700 Canal',
       '10103342_CENTENE U-ECE CENTER', '10104412_Project_Cayman',
       '10103519-Project_Quickstart', '10102774 - Jet Aviation',
       '10103445-Dollar_General_Longview', '10104069-Project_Cherry',
       '10104894 - Amazon AMZL Pontiac MI',
       '10101855 - Penn State East Halls Phase 1A',
       '10103436 - Project Dayton Field2.0', 'UIUC Testing Ground',
       '10102684 - Centene Urban Campus', "10103738 - Kohl's Project 66",
       '10103730 - Centene Hanley Tower TI',
       '10103287-Resolute_Forest_Products', "10103255 - Macy's Chicago",
       '10103648 - 215 Peoria', '10103714 - PSU West Campus Garage',
       '10103283-CITI_Sioux_Falls', '10103308 - Inland 85 Building A',
       '10102490_WU 560 Garage', '10102684-Centene_Campus',
       '10102675 - Willis Tower Repositioning',
       '10102675-Willis Tower Repositioning', '10103650 - Project Dylan',
       '10103243 - PSU Hershey', '10102944 - SCAD Atlanta',
       '10103082 - LeHigh Valley Airport Road Lot 1',
       '10104833 - Project First Base',
       '10104798 - Centene_7700 Building HR Suite and Bridge Lobby',
       '10104797 - Bluepoint Offsite Work',
       '10104681 - DuPont Kimberly Clark TI', '10104676 - Archbald',
       '10104658 - Hawks Prairie Building 1',
       '601-04067_Jet Aviation_Dallas', '10104487 - Harmony Road',
       '10104480 - Huff Road', '10104627 Quincy MWH06',
       '10104465 - Inland Port VII',
       '10104747 - MSFC Engine Test Facility',
       '10104379 - Clayco Chicago Office Updates',
       '10104287-Pepsi TI North Park', '10104224-Chewy',
       '10104201 - Harbor Freight - Chicago', '10104186 - Project Kodiak',
       'CenteneU_ToDo_List', '_DESIGN TEST', '10101234-VDC_Training_TEST',
       '10102045_Central Campus Health Center',
       '10102646-1980_N._Milwaukee', '10103063_DCA1 Project Blue Jay',
       '10103049-Lollicup', '10103340_Chewy',
       '10104060 - NP Hanover 9 BTS 600k', '10102647-CVS_Midwest_DC',
       '10103250-SKF_Expansion', '10102866 - Sheridan and Wilson',
       '10103191-Project_Goliath', '10102922-Blue_Marlin',
       '60102962_NYLO_Plano_Renovation'], dtype=object)

In [66]:
MERGED_PIIT_NEW = pd.merge(W_NEW_PI_DF, IT1_DF, on ='issue_type_id', how='inner')

In [67]:
#MERGED_PIIT_NEW.head()

In [68]:
MERGED_PIIT_NEW.drop(['is_active','created_by','created_at','updated_by','updated_at','bim360_account_id','bim360_project_id','deleted_by','deleted_at'],inplace=True, axis=1)

In [69]:
MERGED_PIIT_NEW.rename(columns = {"subtype_id" : "issue_subtype_id"}, inplace=True)

In [70]:
#len(IST1_DF['issue_type_id'].unique())

In [71]:
#MERGED_PIIT_NEW.count()
MERGED_PIIST_NEW = pd.merge(MERGED_PIIT_NEW, IST1_DF, on ='issue_subtype_id', how='inner')

In [72]:
MERGED_PIIST_NEW.drop(['issue_type_id_x',
                       'issue_subtype_id',
                       'issue_type_id_y',
                       'is_active',
                       'created_by',
                       'created_at',
                       'updated_by',
                       'updated_at',
                       'deleted_by',
                       'deleted_at',
                       'bim360_account_id',
                       'bim360_project_id'],inplace=True, axis=1)

In [73]:
MERGED_PIIST_NEW.count()

project_id           56222
name                 56222
title                56222
description          21829
assignee_id          50746
job_number           55086
type                 56222
value                55834
start_date           56121
end_date             56121
city                 41918
state_or_province    41669
postal_code          41478
issue_type           56222
issue_subtype        56222
dtype: int64

In [74]:
#MERGED_PUC_NEW.head()
MERGED_PIIST_NEW.to_csv('NEW_PIIST.csv')

#MERGED_PUC_NEW.rename(columns = {"id" : "project_id"}, inplace=True)

In [75]:
OLD_PI_DF = pd.merge(P2_DF, I2_DF, on='project_id', how='inner')

In [76]:
OLD_PI_DF.rename(columns = {"id":"project_id"}, inplace=True)
OLD_PI_DF.drop(['business_unit_x',
                'status_x',
                'checklists',
                'equipment',
                'tasks',
                'dailyUpdates',
                'photos',
                'users',
                'identifier',
                'status_y','priority',
                'full_description',
                'location_detail',
                'source_type',
                'parent_source_type',
                'created_by',
                'area',
                'created_at',
                'updated_at',
                'created_from',
                'due_date',
                'closed_at',
                'root_cause',
                'hq_identifier_y',
                'business_unit_y'],inplace=True, axis=1)

In [77]:
OLD_PI_DF.count()

hq_identifier_x     101605
project_id          101605
name                101605
files               101605
issues              101605
issue_id            101605
description         101605
issue_type          101605
company_assigned     96657
dtype: int64

In [78]:
OLD_PI_DF.rename(columns = {"hq_identifier_x":"project_id","project_id":"old_project_id"}, inplace=True)

In [79]:
MERGED_PI_OLD2NEW = pd.merge(OLD_PI_DF, P1_DF, on ='project_id', how='inner')

In [80]:
MERGED_PI_OLD2NEW.count()
MERGED_PI_OLD2NEW.drop(['files',
                        'bim360_account_id',
                        'address_line1',
                        'address_line2',
                        'currency',
                        'timezone',
                        'construction_type',
                        'contract_type',
                        'business_unit_id',
                        'last_sign_in',
                        'created_at',
                        'country',
                        ],inplace=True, axis=1)

In [81]:
###################################################
#### TO CLEAN
MERGED_PI_OLD2NEW.head()
MERGED_PI_OLD2NEW=MERGED_PI_OLD2NEW.reindex(columns = MERGED_PI_OLD2NEW.columns.tolist() + ['issue_subtype','title'])

In [82]:
PI_OLD2NEW_DF = MERGED_PI_OLD2NEW[['project_id',
                                  'name_x',
                                  'job_number',
                                  'start_date',
                                  'end_date',
                                  'type',
                                  'value',
                                  'city',
                                  'state_or_province',
                                  'postal_code',
                                  'issue_type',
                                  'issue_subtype',
                                  'title',
                                  'description',
                                  ]].copy()

In [74]:
PI_OLD2NEW_DF.rename(columns = {"name_x":"name"}, inplace=True)

In [83]:
PIIST_NEW_DF = MERGED_PIIST_NEW [['project_id',
                                  'name',
                                  'job_number',
                                  'start_date',
                                  'end_date',
                                  'type',
                                  'value',
                                  'city',
                                  'state_or_province',
                                  'postal_code',
                                  'issue_type',
                                  'issue_subtype',
                                  'title',
                                  'description',
                                   ]].copy()

In [84]:
PIIST_NEW_DF.count()

project_id           56222
name                 56222
job_number           55086
start_date           56121
end_date             56121
type                 56222
value                55834
city                 41918
state_or_province    41669
postal_code          41478
issue_type           56222
issue_subtype        56222
title                56222
description          21829
dtype: int64

In [85]:
PI_NEWandOLD_DF = pd.concat([PI_OLD2NEW_DF, PIIST_NEW_DF], axis = 0)

C:\Users\zigot\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [86]:
PI_NEWandOLD_DF.count()

city                 123664
description          123434
end_date             157726
issue_subtype         56222
issue_type           157827
job_number           106331
name                  56222
name_x               101605
postal_code          119148
project_id           157827
start_date           157726
state_or_province    124348
title                 56222
type                 157827
value                157193
dtype: int64

In [87]:
indexScanns = PI_NEWandOLD_DF[PI_NEWandOLD_DF['issue_subtype'] == 'Scanning' ].index

In [88]:
#indexFload = PI_NEWandOLD_DF.select_dtypes(include=['float64'])
print(PI_NEWandOLD_DF['description'].dtypes)

object

In [89]:
len(indexScanns)

701

In [90]:
PI_NEWandOLD_DF.dtypes

city                  object
description           object
end_date              object
issue_subtype         object
issue_type            object
job_number            object
name                  object
name_x                object
postal_code           object
project_id            object
start_date            object
state_or_province     object
title                 object
type                  object
value                float64
dtype: object

In [91]:
PI_NEWandOLD_DF.drop(indexScanns, inplace=True)

In [92]:
PI_NEWandOLD_DF['description'].fillna('', inplace=True)

In [93]:
PI_NEWandOLD_DF['title'].fillna('', inplace=True)

In [94]:
TEMP_DF = PI_NEWandOLD_DF

In [95]:
def description(row):
    if len(row['description']) > len(row['title']):
        return row['description']
    if len(row['description']) < len(row['title']):
        return row['title']

In [96]:
PI_NEWandOLD_DF['description2']=PI_NEWandOLD_DF.apply (lambda row: description(row), axis =1)

In [97]:
PI_NEWandOLD_DF.head()

,city,description,end_date,issue_subtype,issue_type,job_number,name,name_x,postal_code,project_id,start_date,state_or_province,title,type,value,description2
0,McCalla,Remove nails around dock angles.,2016-12-30,NaN,Punch List : Pre-Punch List,102601,NaN,Gestamp,35111,01fa4f3a-9969-4069-a5b3-72fb630a0143,2016-08-01,AL,,Manufacturing / Factory,20549347.0,Remove nails around dock angles.
1,McCalla,"Grind in a 3/4"" chamfer at all exterior corner...",2016-12-30,NaN,Punch List : Pre-Punch List,102601,NaN,Gestamp,35111,01fa4f3a-9969-4069-a5b3-72fb630a0143,2016-08-01,AL,,Manufacturing / Factory,20549347.0,"Grind in a 3/4"" chamfer at all exterior corner..."
2,McCalla,Install missing switch and data outlets,2016-12-30,NaN,Punch List : Architect Punch List,102601,NaN,Gestamp,35111,01fa4f3a-9969-4069-a5b3-72fb630a0143,2016-08-01,AL,,Manufacturing / Factory,20549347.0,Install missing switch and data outlets
3,McCalla,Install cover plate on light switch,2016-12-30,NaN,Punch List : Architect Punch List,102601,NaN,Gestamp,35111,01fa4f3a-9969-4069-a5b3-72fb630a0143,2016-08-01,AL,,Manufacturing / Factory,20549347.0,Install cover plate on light switch
4,McCalla,Install base,2016-12-30,NaN,Punch List : Architect Punch List,102601,NaN,Gestamp,35111,01fa4f3a-9969-4069-a5b3-72fb630a0143,2016-08-01,AL,,Manufacturing / Factory,20549347.0,Install base

In [90]:
# for index, row in PI_NEWandOLD_DF.iterrows():
#     rowIndex = (index)
#     ld = row['description']
#     lt = row['title']
#     print(index)
#     if len(ld) > len(lt):
#         print(ld)
#         TEMP_DF.loc[rowIndex, 'new_description'] = ld
#     else:
#         print(lt)
#         TEMP_DF.loc[rowIndex, 'new_description'] = lt

In [91]:
PI_NEWandOLD_DF.head(150000)

,project_id,name,job_number,type,value,city,state_or_province,postal_code,issue_type,issue_subtype,title,description,description2
0,01fa4f3a-9969-4069-a5b3-72fb630a0143,Gestamp,102601,Manufacturing / Factory,20549347.0,McCalla,AL,35111,Punch List : Pre-Punch List,NaN,,Remove nails around dock angles.,Remove nails around dock angles.
1,01fa4f3a-9969-4069-a5b3-72fb630a0143,Gestamp,102601,Manufacturing / Factory,20549347.0,McCalla,AL,35111,Punch List : Pre-Punch List,NaN,,"Grind in a 3/4"" chamfer at all exterior corner...","Grind in a 3/4"" chamfer at all exterior corner..."
2,01fa4f3a-9969-4069-a5b3-72fb630a0143,Gestamp,102601,Manufacturing / Factory,20549347.0,McCalla,AL,35111,Punch List : Architect Punch List,NaN,,Install missing switch and data outlets,Install missing switch and data outlets
3,01fa4f3a-9969-4069-a5b3-72fb630a0143,Gestamp,102601,Manufacturing / Factory,20549347.0,McCalla,AL,35111,Punch List : Architect Punch List,NaN,,Install cover plate on light switch,Install cover plate on light switch
4,01fa4f3a-9969-4069-a5b3-72fb630a0143,Gestamp,102601,Manufacturing / Factory,20549347.0,McCalla,AL,35111,Punch List : Architect Punch List,NaN,,Install base,Install base
...,...,...,...,...,...,...,...,...,...,...,...,...,...
49774,bd6b83ac-2ef5-4eb0-a4f2-d02e5ce8c117,10102675 - Willis Tower Repositioning,10102675,Office,200000000.0,Chicago,IL,NaN,Observation,Observation,Scan 145,1/8 - 3x,None
49775,bd6b83ac-2ef5-4eb0-a4f2-d02e5ce8c117,10102675 - Willis Tower Repositioning,10102675,Office,200000000.0,Chicago,IL,NaN,Observation,Observation,Scan 147,1/8 - 3x,None
49776,bd6b83ac-2ef5-4eb0-a4f2-d02e5ce8c117,10102675 - Willis Tower Repositioning,10102675,Office,200000000.0,Chicago,IL,NaN,Observation,Observation,Scan 146,1/8 - 3x,None
49777,bd6b83ac-2ef5-4eb0-a4f2-d02e5ce8c117,10102675 - Willis Tower Repositioning,10102675,Office,200000000.0,Chicago,IL,NaN,Observation,Observation,Scan 149,1/8 - 3x,None
49778,bd6b83ac-2ef5-4eb0-a4f2-d02e5ce8c117,10102675 - Willis Tower Repositioning,10102675,Office,200000000.0,Chicago,IL,NaN,Observation,Observation,Scan 152,1/8 - 3x,None

In [98]:
PI_NEWandOLD_DF.to_csv('PI_NEWandOLD.csv')

In [93]:
################################################################################
### END SECTION
#################################################################################

In [94]:
I1_DF.rename(columns = {"bim360_project_id" : "project_id"}, inplace=True)
MERGED_NEW.to_csv('new_clean.csv')
MERGED_OLD.rename(columns = {"project_id" : "project_id_classic"}, inplace=True)
MERGED_OLD.rename(columns = {"hq_identifier_x" : "project_id"}, inplace=True)
MERGED_OLD_NEXT = pd.merge(MERGED_OLD, P1_DF, on='project_id', how='inner')
MERGED_OLD_NEXT.to_csv('old_next_clean.csv')
### FINAL MERGE PROJECT ISSUES
OLD_MAPPING = 'old_next_clean.csv'
NEW_MAPPING = 'new_clean.csv'
##################################
OLD_DF = pd.read_csv(OLD_MAPPING, encoding='utf-8', low_memory=False)
NEW_DF = pd.read_csv(NEW_MAPPING, encoding='utf-8', low_memory=False)
# Working_OLD_DataFrame
W_OLD_DF = OLD_DF[['project_id',
                   'bim360_account_id'
                   'business_unit_x',
                   'name_x',
                   'issues',
                   'users',
                   'issue_id',
                   'description',
                   'issue_type',
                   'status_x',
                   'company_assigned',
                   'job_number',
                   'identifier',
                   'created_at_x',
                   'due_date',
                   'closed_at',
                   'company_assigned',
                   'created_by',
                   'root_cause',
                   'area',
                   'location_detail',
                   'type',
                   'value',
                   'city',
                   'state_or_province',
                   'postal_code']].copy()
W_OLD_DF.head()
W_OLD_DF.rename(columns = {"name_x" : "name",
                           'business_unit_x' : 'business_unit',
                           'status_x' : 'status',
                           'created_at_x' : 'created_at'}, inplace=True)
# W_NEW_DF = NEW_DF[['project_id',
#                    'bim360_account_id_x'
#                    'business_unit_x',
#                    'name',
#                    'issues',
#                    'users',
#                    'issue_id',
#                    'title',
#                    'description',
#                    'issue_type',
#                    'status_x',
#                    'company_assigned',
#                    'job_number',
#                    'identifier',
#                    'created_at_x',
#                    'due_date',
#                    'closed_at',
#                    'company_assigned',
#                    'created_by',
#                    'root_cause',
#                    'area',
#                    'location_detail',
#                    'type',
#                    'value',
#                    'city',
#                    'state_or_province',
#                    'postal_code']].copy()

NameError: name 'MERGED_NEW' is not defined