In [4]:
import pandas as pd
import numpy as np
import math
import json
import pprint
import requests
from sqlalchemy import create_engine, inspect
from sqlalchemy import Column, Integer, String, Float

In [5]:
USER_01_MAPPING = 'resources/raw_data_next_gen/admin_users.csv'
PROJECT_01_MAPPING = 'resources/raw_data_next_gen/admin_projects.csv'
ISSUE_01_MAPPING = 'resources/raw_data_next_gen/issues_issues.csv'
COMPANIES_01_MAPPING = 'resources/raw_data_next_gen/admin_companies.csv'
PROJECT_COMPANIES_01_MAPPING = 'resources/raw_data_next_gen/admin_project_companies.csv'
BUSINESS_01_MAPPING = 'resources/raw_data_next_gen/admin_business_units.csv'
ISSUETYPES_01_MAPPING = 'resources/raw_data_next_gen/issues_issue_types.csv'
ISSUESUBTYPES_01_MAPPING = 'resources/raw_data_next_gen/issues_issue_subtypes.csv'
CLASSIGN_01_MAPPING = 'resources/raw_data_next_gen/checklists_checklist_assignees.csv'

##############

USER_02_MAPPING = 'resources/raw_data_old_gen/20200330085907_FieldDataHarvest_Users.csv'
PROJECT_02_MAPPING = 'resources/raw_data_old_gen/20200330085907_FieldDataHarvest_Projects.csv'
ISSUE_02_MAPPING = 'resources/raw_data_old_gen/20200330085907_FieldDataHarvest_Issues.csv'

In [6]:
U1_DF = pd.read_csv(USER_01_MAPPING, encoding='utf-8', low_memory=False)
P1_DF = pd.read_csv(PROJECT_01_MAPPING, encoding='utf-8', low_memory=False)
I1_DF = pd.read_csv(ISSUE_01_MAPPING, encoding='latin1', low_memory=False)
C1_DF = pd.read_csv(COMPANIES_01_MAPPING, encoding='latin1', low_memory=False)
PC1_DF = pd.read_csv(PROJECT_COMPANIES_01_MAPPING, encoding='latin1', low_memory=False)
B1_DF = pd.read_csv(BUSINESS_01_MAPPING, encoding='latin1', low_memory=False)
IT1_DF = pd.read_csv(ISSUETYPES_01_MAPPING, encoding='latin1', low_memory=False)
IST1_DF = pd.read_csv(ISSUESUBTYPES_01_MAPPING, encoding='latin1', low_memory=False)
CA_DF = pd.read_csv(CLASSIGN_01_MAPPING, encoding='latin1', low_memory=False)

U2_DF = pd.read_csv(USER_02_MAPPING, encoding='utf-8', low_memory=False)
P2_DF = pd.read_csv(PROJECT_02_MAPPING, encoding='utf-8', low_memory=False)
I2_DF = pd.read_csv(ISSUE_02_MAPPING, encoding='latin1', low_memory=False)

In [7]:
U1_DF['domain']= U1_DF['email'].str.split('@').str[1]
len(U1_DF['domain'].unique())
domain_A = U1_DF['domain'].unique()

In [8]:
#domain_A[1].split('.')[0]

In [9]:
# temp_DF = U1_DF.loc[U1_DF['domain']==domain_A[16]]
# temp_DF
# LIST_D=[]
# LIST_D = temp_DF.loc[temp_DF['default_company_id'].notnull()]['default_company_id'] 
#res = max(set(LIST_D), key = LIST_D.count)

In [10]:
# x = LIST_D.value_counts().idxmax()

In [11]:

# r = 0
# #for index, row in U1_DF.iterrows():

# for i in range (1, len(domain_A)):
#     LIST_D=[]
#     r = r + 1
#     temp_DF = U1_DF.loc[U1_DF['domain']==domain_A[i]]
        
#         #LIST_D = temp_DF.loc[temp_DF['default_company_id'].notnull()]
        
#     LIST_D = temp_DF.loc[temp_DF['default_company_id'].notnull()]['default_company_id']
#     if len(LIST_D) > 0:
#         comp_id = LIST_D.value_counts().idxmax()
# #         print("LIST of DOMAINS....",LIST_D)
#         for index, row in temp_DF.iterrows():
#             rowIndex = (index)
        
#             if domain_A[i]>'':
#                 d_value = str(domain_A[i])
#                 if (d_value.split('.')[0]) not in ['gmail','outlook','yahoo','msn','swbell','comcast','icloud','charter']:
        
# #                     print (r,'.....', d_value, '----------GROUP----------------------------')
# #                     for index, row in temp_DF.iterrows():
#                     x1 = (row['domain'])
#                     x2 = (row['default_company_id'])
# #                     print(x2)
                    
#                     if type(x2) == float:
#                         U1_DF.loc[rowIndex, 'default_company_id'] = comp_id
#                         print(rowIndex, x1,'.......',x2)
        
# print ('NEW GROUP-----------------------------------------------------')

In [12]:
#######################################################
P1_DF.rename(columns = {"id" : "project_id"}, inplace=True)
PC1_DF.rename(columns = {"company_id" : "default_company_id"}, inplace=True)
I1_DF.rename(columns = {"bim360_project_id":"project_id"}, inplace=True)
C1_DF.rename(columns = {"id" : "default_company_id"}, inplace=True)

In [13]:
C1_DF.to_csv('cleaned_companies.csv')

In [14]:
U1_DF.count()

id                             9341
autodesk_id                    6769
bim360_account_id              9341
email                          9303
name                           9341
first_name                     9341
last_name                      9341
address_line1                   253
address_line2                    55
city                            314
state_or_province               436
postal_code                     271
country                        9327
last_sign_in                   3101
phone                           324
job_title                       444
access_level_account_admin     9341
access_level_project_admin     9341
access_level_project_member    9341
access_level_executive         9341
default_role_id                 919
default_company_id             3617
domain                         9303
dtype: int64

In [15]:
MERGED_PI_NEW = pd.merge(P1_DF, I1_DF, on ='project_id', how='inner')

In [16]:
# Working_OLD_DataFrame
W_NEW_PI_DF = MERGED_PI_NEW[['project_id',
                   'name',
                   'title',
                   'description',
                   'type_id',
                   'subtype_id',
                   'assignee_id',
                   'job_number',
                   'type',
                   'value',
                   'city',
                   'state_or_province',
                   'postal_code']].copy()

In [17]:
W_NEW_PI_DF.rename(columns = {"type_id" : "issue_type_id"}, inplace=True)
W_NEW_PI_DF.head()

,project_id,name,title,description,issue_type_id,subtype_id,assignee_id,job_number,type,value,city,state_or_province,postal_code
0,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_043_044_High_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,Springfield,MO,65804
1,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_007_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,Springfield,MO,65804
2,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_019_020_High_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,Springfield,MO,65804
3,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_021_022_High_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,Springfield,MO,65804
4,373096cf-bb05-4c80-8cfe-aa4f978ef5d0,00000_Mercy_Hospital_Springfield_Pharmacy,Scan_041_042_High_Low,NaN,fcad3025-f61e-4b23-9aca-fe550600b014,51ee74cd-a8fc-4acf-b665-1e6097c123bd,200810021927646,Unknown,Hospital,1000000.0,Springfield,MO,65804

In [18]:
MERGED_PIIT_NEW = pd.merge(W_NEW_PI_DF, IT1_DF, on ='issue_type_id', how='inner')

In [19]:
#MERGED_PIIT_NEW.head()

In [20]:
MERGED_PIIT_NEW.drop(['is_active','created_by','created_at','updated_by','updated_at','bim360_account_id','bim360_project_id','deleted_by','deleted_at'],inplace=True, axis=1)

In [21]:
MERGED_PIIT_NEW.rename(columns = {"subtype_id" : "issue_subtype_id"}, inplace=True)

In [22]:
#len(IST1_DF['issue_type_id'].unique())

In [23]:
#MERGED_PIIT_NEW.count()
MERGED_PIIST_NEW = pd.merge(MERGED_PIIT_NEW, IST1_DF, on ='issue_subtype_id', how='inner')

In [24]:
MERGED_PIIST_NEW.drop(['issue_type_id_x',
                       'issue_subtype_id',
                       'issue_type_id_y',
                       'is_active',
                       'created_by',
                       'created_at',
                       'updated_by',
                       'updated_at',
                       'deleted_by',
                       'deleted_at',
                       'bim360_account_id',
                       'bim360_project_id'],inplace=True, axis=1)

In [25]:
MERGED_PIIST_NEW.count()

project_id           59084
name                 59084
title                59084
description          23200
assignee_id          52446
job_number           57085
type                 59084
value                57593
city                 42841
state_or_province    42592
postal_code          42401
issue_type           59084
issue_subtype        59084
dtype: int64

In [26]:
#MERGED_PUC_NEW.head()
MERGED_PIIST_NEW.to_csv('NEW_PIIST.csv')

#MERGED_PUC_NEW.rename(columns = {"id" : "project_id"}, inplace=True)

In [27]:
OLD_PI_DF = pd.merge(P2_DF, I2_DF, on='project_id', how='inner')

In [28]:
OLD_PI_DF.rename(columns = {"id":"project_id"}, inplace=True)
OLD_PI_DF.drop(['business_unit_x',
                'status_x',
                'checklists',
                'equipment',
                'tasks',
                'dailyUpdates',
                'photos',
                'users',
                'identifier',
                'status_y','priority',
                'full_description',
                'location_detail',
                'source_type',
                'parent_source_type',
                'created_by',
                'area',
                'created_at',
                'updated_at',
                'created_from',
                'due_date',
                'closed_at',
                'root_cause',
                'hq_identifier_y',
                'business_unit_y'],inplace=True, axis=1)

In [29]:
OLD_PI_DF.count()

hq_identifier_x     101605
project_id          101605
name                101605
files               101605
issues              101605
issue_id            101605
description         101605
issue_type          101605
company_assigned     96657
dtype: int64

In [30]:
OLD_PI_DF.rename(columns = {"hq_identifier_x":"project_id","project_id":"old_project_id"}, inplace=True)

In [31]:
MERGED_PI_OLD2NEW = pd.merge(OLD_PI_DF, P1_DF, on ='project_id', how='inner')

In [32]:
MERGED_PI_OLD2NEW.count()
MERGED_PI_OLD2NEW.drop(['files',
                        'bim360_account_id',
                        'address_line1',
                        'address_line2',
                        'start_date',
                        'end_date',
                        'currency',
                        'timezone',
                        'construction_type',
                        'contract_type',
                        'business_unit_id',
                        'last_sign_in',
                        'created_at',
                        'country',
                        ],inplace=True, axis=1)

In [33]:
###################################################
#### TO CLEAN
MERGED_PI_OLD2NEW.head()
MERGED_PI_OLD2NEW=MERGED_PI_OLD2NEW.reindex(columns = MERGED_PI_OLD2NEW.columns.tolist() + ['issue_subtype','title'])

In [34]:
PI_OLD2NEW_DF = MERGED_PI_OLD2NEW[['project_id',
                                  'name_x',
                                  'job_number',
                                  'type',
                                  'value',
                                  'city',
                                  'state_or_province',
                                  'postal_code',
                                  'issue_type',
                                  'issue_subtype',
                                  'title',
                                  'description',
                                  ]].copy()

In [35]:
PI_OLD2NEW_DF.rename(columns = {"name_x":"name"}, inplace=True)

In [36]:
PIIST_NEW_DF = MERGED_PIIST_NEW [['project_id',
                                  'name',
                                  'job_number',
                                  'type',
                                  'value',
                                  'city',
                                  'state_or_province',
                                  'postal_code',
                                  'issue_type',
                                  'issue_subtype',
                                  'title',
                                  'description',
                                   ]].copy()

In [37]:
PIIST_NEW_DF.count()

project_id           59084
name                 59084
job_number           57085
type                 59084
value                57593
city                 42841
state_or_province    42592
postal_code          42401
issue_type           59084
issue_subtype        59084
title                59084
description          23200
dtype: int64

In [38]:
PI_NEWandOLD_DF = pd.concat([PI_OLD2NEW_DF, PIIST_NEW_DF], axis = 0)

In [39]:
PI_NEWandOLD_DF.count()

project_id           160689
name                 160689
job_number           108330
type                 160689
value                158952
city                 124587
state_or_province    125271
postal_code          120071
issue_type           160689
issue_subtype         59084
title                 59084
description          124805
dtype: int64

In [47]:
indexScanns = PI_NEWandOLD_DF[PI_NEWandOLD_DF['issue_subtype'] == 'Scanning' ].index

In [55]:
#indexFload = PI_NEWandOLD_DF.select_dtypes(include=['float64'])
print(PI_NEWandOLD_DF['description'].dtypes)

object

In [53]:
indexFload

            value
0      20549347.0
1      20549347.0
2      20549347.0
3      20549347.0
4      20549347.0
...           ...
59079  26748673.0
59080  26748673.0
59081  26748673.0
59082  26748673.0
59083  26748673.0

[159285 rows x 1 columns]

In [42]:
len(indexScanns)

702

In [48]:
PI_NEWandOLD_DF.dtypes

project_id            object
name                  object
job_number            object
type                  object
value                float64
city                  object
state_or_province     object
postal_code           object
issue_type            object
issue_subtype         object
title                 object
description           object
dtype: object

In [43]:
PI_NEWandOLD_DF.drop(indexScanns, inplace=True)

In [44]:
PI_NEWandOLD_DF.to_csv('PI_NEWandOLD.csv')

In [ ]:
################################################################################
### END SECTION
#################################################################################

In [23]:
I1_DF.rename(columns = {"bim360_project_id" : "project_id"}, inplace=True)
MERGED_NEW.to_csv('new_clean.csv')
MERGED_OLD.rename(columns = {"project_id" : "project_id_classic"}, inplace=True)
MERGED_OLD.rename(columns = {"hq_identifier_x" : "project_id"}, inplace=True)
MERGED_OLD_NEXT = pd.merge(MERGED_OLD, P1_DF, on='project_id', how='inner')
MERGED_OLD_NEXT.to_csv('old_next_clean.csv')
### FINAL MERGE PROJECT ISSUES
OLD_MAPPING = 'old_next_clean.csv'
NEW_MAPPING = 'new_clean.csv'
##################################
OLD_DF = pd.read_csv(OLD_MAPPING, encoding='utf-8', low_memory=False)
NEW_DF = pd.read_csv(NEW_MAPPING, encoding='utf-8', low_memory=False)
# Working_OLD_DataFrame
W_OLD_DF = OLD_DF[['project_id',
                   'bim360_account_id'
                   'business_unit_x',
                   'name_x',
                   'issues',
                   'users',
                   'issue_id',
                   'description',
                   'issue_type',
                   'status_x',
                   'company_assigned',
                   'job_number',
                   'identifier',
                   'created_at_x',
                   'due_date',
                   'closed_at',
                   'company_assigned',
                   'created_by',
                   'root_cause',
                   'area',
                   'location_detail',
                   'type',
                   'value',
                   'city',
                   'state_or_province',
                   'postal_code']].copy()
W_OLD_DF.head()
W_OLD_DF.rename(columns = {"name_x" : "name",
                           'business_unit_x' : 'business_unit',
                           'status_x' : 'status',
                           'created_at_x' : 'created_at'}, inplace=True)
# W_NEW_DF = NEW_DF[['project_id',
#                    'bim360_account_id_x'
#                    'business_unit_x',
#                    'name',
#                    'issues',
#                    'users',
#                    'issue_id',
#                    'title',
#                    'description',
#                    'issue_type',
#                    'status_x',
#                    'company_assigned',
#                    'job_number',
#                    'identifier',
#                    'created_at_x',
#                    'due_date',
#                    'closed_at',
#                    'company_assigned',
#                    'created_by',
#                    'root_cause',
#                    'area',
#                    'location_detail',
#                    'type',
#                    'value',
#                    'city',
#                    'state_or_province',
#                    'postal_code']].copy()